{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Products</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Size</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.size}}</td>
                    <td>{{ product.stock }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('add_product') }}">add</a>
    </div>


{% endblock %}